In [8]:
# import libraries
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import calendar 
import datetime as dt  
%matplotlib inline

In [9]:
# read in customer_addres sheet from file
customer_address = pd.read_excel('D:\OneDrive\Máy tính\KPMG_VI_New_raw_data_update_final.xlsx\KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerAddress', header=1)

In [10]:
# check first few rows
customer_address.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [11]:
# check summary statistics
customer_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [12]:
# count missing values in each variable
customer_address.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [13]:
# check unique values of all columns
column_names = customer_address.columns

for i in column_names:
  print((i, customer_address[i].is_unique))

('customer_id', True)
('address', False)
('postcode', False)
('state', False)
('country', False)
('property_valuation', False)

In [14]:
# count unique values of all columns
customer_address.nunique()

customer_id           3999
address               3996
postcode               873
state                    5
country                  1
property_valuation      12
dtype: int64

In [15]:
# Replace all the misspelt or differently formatted data
customer_address['state'].replace({'New South Wales' : 'NSW', 'Victoria' : 'VIC'}, inplace=True)
customer_address['state'].unique()

array(['NSW', 'QLD', 'VIC'], dtype=object)

In [16]:
customer_address.to_csv(r"d:\OneDrive\Máy tính\Segmentation\customer_address.csv", index=False)