In [1]:
# import libraries
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import calendar 
import datetime as dt  
%matplotlib inline

In [2]:
transactions = pd.read_excel("D:\OneDrive\Máy tính\KPMG_VI_New_raw_data_update_final.xlsx\KPMG_VI_New_raw_data_update_final.xlsx", sheet_name='Transactions', header=1)

In [3]:
transactions

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [4]:
# check summary statistics
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [5]:
# calculate missing value percentage for each column
transactions.isnull().mean() * 100

transaction_id             0.000
product_id                 0.000
customer_id                0.000
transaction_date           0.000
online_order               1.800
order_status               0.000
brand                      0.985
product_line               0.985
product_class              0.985
product_size               0.985
list_price                 0.000
standard_cost              0.985
product_first_sold_date    0.985
dtype: float64

Missing Data:

Steps to address missing data:

'online_order' has only 1.8% missing data, which will be imputed using the mode, the most common data point in the dataset.

'brand', 'product_line', 'product_class', 'product_size', 'standard_cost', and 'product_first_sold_date' have less than 1% missing data and share the same missing data pattern. Thus, we will remove the rows containing null values for these variables. This step is justified since the percentage of missing data is relatively low, and removing these records is unlikely to impact the validity of our analysis.

In [6]:
# fill missing values in the 'online_order' column with the mode value
mode_online_order = transactions['online_order'].mode()[0]
transactions['online_order'] = transactions['online_order'].fillna(mode_online_order)
transactions['online_order'].value_counts()

online_order
1.0    10189
0.0     9811
Name: count, dtype: int64

In [7]:
mode_online_order = transactions['online_order'].mode()
mode_online_order

0    1.0
Name: online_order, dtype: float64

In [8]:
transactions.dropna(axis=0,inplace=True)

In [9]:
transactions.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

Addressing Data Quality Issues:

To ensure data quality, we will examine the dataframe for several aspects including:

Accuracy: verifying the correctness of the data.

Uniqueness: identifying and eliminating duplicates.

Relevancy: checking metadata to ensure data is pertinent to the analysis.

Validity: verifying whether data contains allowable values.

Consistency: ensuring values are free from contradiction.

Currency: confirming that data is up to date.

Miscellaneous issues: encompassing any other factors that may impact data accuracy, such as lack of uniformity, etc.

In [10]:
# amend column data types
transactions['transaction_date'] = transactions['transaction_date'].astype('datetime64[ns]')
transactions['online_order'] = transactions['online_order'].astype('object')
transactions['list_price'] = transactions['list_price'].astype('float')
transactions['standard_cost'] = transactions['standard_cost'].astype('float')

In [11]:
# check information for the changes
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19803 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19803 non-null  int64
 1   product_id               19803 non-null  int64
 2   customer_id              19803 non-null  int64
 3   transaction_date         19803 non-null  datetime64[ns]
 4   online_order             19803 non-null  object
 5   order_status             19803 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               19803 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 2.1+ MB

In [12]:
# check for duplicated rows
transactions[transactions.duplicated()]

Empty DataFrame
Columns: [transaction_id, product_id, customer_id, transaction_date, online_order, order_status, brand, product_line, product_class, product_size, list_price, standard_cost, product_first_sold_date]
Index: []

In [13]:
# check unique values of all columns
column_names = transactions.columns

for i in column_names:
  print((i, transactions[i].is_unique))

('transaction_id', True)
('product_id', False)
('customer_id', False)
('transaction_date', False)
('online_order', False)
('order_status', False)
('brand', False)
('product_line', False)
('product_class', False)
('product_size', False)
('list_price', False)
('standard_cost', False)
('product_first_sold_date', False)

In [14]:
# count unique values of all columns
transactions.nunique()

transaction_id             19803
product_id                   101
customer_id                 3494
transaction_date             364
online_order                   2
order_status                   2
brand                          6
product_line                   4
product_class                  3
product_size                   3
list_price                   100
standard_cost                103
product_first_sold_date      100
dtype: int64

In [15]:
# check unique values in 'order_status' column
transactions['order_status'].unique()

array(['Approved', 'Cancelled'], dtype=object)

In [16]:
#drop all rows where 'order_status' is equal to 'Cancelled',
transactions.drop(transactions[transactions['order_status'] == 'Cancelled'].index, inplace=True)
transactions['order_status'].unique()

array(['Approved'], dtype=object)

In [17]:
# capitalize first letter of unique value for consistency
transactions['product_class'] = transactions['product_class'].str.capitalize()
transactions['product_class'].unique()

array(['Medium', 'Low', 'High'], dtype=object)

In [18]:
# capitalize first letter of unique value for consistency
transactions['product_size'] = transactions['product_size'].str.capitalize()
transactions['product_size'].unique()

array(['Medium', 'Large', 'Small'], dtype=object)

In [19]:
# convert 'product_first_sold_date' column to a datetime format
transactions['product_first_sold_date'] = pd.to_datetime(transactions['product_first_sold_date'], unit='D', origin=pd.Timestamp('1899-12-30'))

In [20]:
# read the updated 'product_first_sold_date' column
transactions['product_first_sold_date'].head()

0   2012-12-02
1   2014-03-03
2   1999-07-20
3   1998-12-16
4   2015-08-10
Name: product_first_sold_date, dtype: datetime64[ns]

Creating Additional Variables:

Adding transaction_year, transaction_month name, transaction_day, transaction_day_name columns to to aid in data analysis and quality assessment.

In [21]:
# change transactions date column into transaction year,month,day,day_name columns
transactions['transaction_year']=transactions['transaction_date'].dt.year
transactions['transaction_month']=transactions['transaction_date'].dt.month_name()
transactions['transaction_day']=transactions['transaction_date'].dt.day
transactions['day_of_the_week']=transactions['transaction_date'].dt.day_name()

In [22]:
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,transaction_year,transaction_month,transaction_day,day_of_the_week
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,Medium,Medium,71.49,53.62,2012-12-02,2017,February,25,Saturday
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,Medium,Large,2091.47,388.92,2014-03-03,2017,May,21,Sunday
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,Low,Medium,1793.43,248.82,1999-07-20,2017,October,16,Monday
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,Medium,Medium,1198.46,381.10,1998-12-16,2017,August,31,Thursday
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,Medium,Large,1765.30,709.48,2015-08-10,2017,October,1,Sunday

In [23]:
# convert transaction year, day columnes into string types
transactions['transaction_year']=transactions['transaction_year'].astype(str)
transactions['transaction_day']=transactions['transaction_day'].astype(str)

In [24]:
# add profit column using list proce and standard cost
transactions['profit'] = transactions['list_price'] - transactions['standard_cost']

In [25]:
transactions.to_csv(r"d:\OneDrive\Máy tính\Segmentation\transactions.csv", index=False)